
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="/publics/css1/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="/publics/img1/cms.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="/publics/img1/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">CMS </h1>
								<h6 class="tm-site-description">Welcome to CMS</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
                {{#if user}}
                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                <li class="tm-nav-li"><a href="/logout" class="tm-nav-link active">Logout</a></li>

                {{else}}
                <li class="tm-nav-li"><a href="/login" class="tm-nav-link">Login</a></li>
				<li class="tm-nav-li"><a href="/register" class="tm-nav-link">Register</a></li>

                {{/if}}
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to CMS</h2>
				<p class="col-12 text-center">Success is nothing more than a few simple disciplines, practiced every day; 
                    while failure is simply a few errors in judgment, repeated every day. It is the accumulative weight 
                    of our disciplines and our judgments that leads us to either fortune or failure.</p>
			</header>
	

			<!-- Gallery -->
			<div class="row tm-gallery">
                    {{#each posts}}


            <div class="card mb-4">
                <img class="card-img-top" src="/publics/img1/cms.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">{{description}}</p>
                    <a href="/post/{{id}}" class="btn btn-primary">Choose Topic &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{creationDate}} by
                    <a>Admin</a>
                </div>
            </div>

        {{/each}}
				</div> <!-- gallery page 1 -->
			</div>	
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021 CMS
            
            | Design: <a rel="nofollow">SY CAP</a></p>
		</footer>
	</div>
	<script src="/publics/js1/jquery.min.js"></script>
	<script src="/publics/js1/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>